.todo-element {
  color: white;
  cursor: pointer;
  padding-bottom: 4px;
}

.todo-element:hover {
  background-color: #bbb;
  opacity: 0.3;
  margin: auto;
  max-width: 60vw;
  border-radius: 4px;
}
