.card {
  border-radius: 12px;
  padding: 1rem;
  /* background-color: rgba(31, 31, 31, 0.7); */
  background: linear-gradient(
    135deg,
    rgba(167, 32, 32, 0.7) 35%,
    rgba(42, 42, 42, 0.9) 100%
  );
  margin: 2rem auto;
  width: 70rem;
  max-width: 95%;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.35);
}
