@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(
    135deg,
    rgba(157, 107, 107, 1) 35%,
    rgba(75, 75, 105, 1) 100%
  );
  min-height: 100vh;
  overflow: hidden;
}
