@use "./../../sass" as *;

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(24px + 2vmin);
  font-weight: bold;
  color: $font-color;
}
